<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary Calculator</title>
    <style>
        label{
            display: block;
        }
        #divResult{
            font-size: 22pt;
            color : red;
        }
        .field{
            margin-bottom: 10px;
        }
    </style>
    <script src="jquery-1.11.2.js"></script>
    <script src="angular.min.js"></script>

    <script>
    function SalaryCalculator(){
        this.basic =0;
        this.hra = 0;
        this.da = 0;
        this.tax = 0;
        this.salary = 0;
    }
    SalaryCalculator.prototype.calculate = function(){
        var gross = parseInt(this.basic,10) + parseInt(this.hra,10) + parseInt(this.da,10);
        this.salary = gross * ((100-parseInt(this.tax,10))/100);
    }

    function Greeter(){
        this.name = '';
        this.greetMsg = '';
        this.greet = function(){
            this.greetMsg = 'Hi ' + this.name + ", Have a nice day!";
        }
    }
    </script>
    <script>

      var myApp = angular.module("myApp",[]);

      myApp.run(function($rootScope){

      });

      myApp.controller("calculatorController", function($scope){
           $scope.calculator = new SalaryCalculator();
      })
      myApp.controller("greetController", function($scope){
           $scope.greeter = new Greeter();
      });


    </script>
</head>
<body ng-app="myApp">
    <h1>Salary Calculator</h1>
    <div class="content" ng-controller="calculatorController">
        <div class="field">
            <label for="">Basic :</label>
            <input type="text" name="" id="txtBasic" ng-model="calculator.basic">
        </div>
        <div class="field">
            <label for="">HRA :</label>
            <input type="text" name="" id="txtHra" ng-model="calculator.hra">
        </div>
        <div class="field">
            <label for="">DA :</label>
            <input type="text" name="" id="txtDa" ng-model="calculator.da">
        </div>
        <div class="field">
            <label for="">Tax [%] :</label>
            <input type="range" id="rangeTax" min="0" max="30" value="0" ng-model="calculator.tax">
            <span id="spanTax" ng-bind="calculator.tax">[Tax]</span>
        </div>
        <div class="field"><input type="button" value="Calculate" id="btnCalculate" ng-click="calculator.calculate()"></div>
        <div class="field">
            <div id="divResult" ng-bind="calculator.salary">[Salary]</div>
        </div>
    </div>
    <hr>
    <h1>Greet App</h1>
    <div class="content" ng-controller="greetController">
        <div class="field">
            <label for="">Name :</label>
            <input type="text" name="" ng-model="greeter.name" >
        </div>
        <div class="field">
            <input type="button" value="Greet" ng-click="greeter.greet()" >
        </div>
         <div class="field">
            <div id="divResult" ng-bind="greeter.greetMsg">[Greet Msg]</div>
        </div>
    </div>
</body>
</html>
