<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <style>
    .field{
        margin-bottom: 10px;
    }
        label{
            display: block;
        }
        #divResult {
            font-size: 18pt;
            color : red;
        }
    </style>
    <script src="angular.min.js"></script>
    <script>
    var myapp = angular.module("myapp",[]);
    var calculator = {
        number1 : 0,
        number2 : 0,
        result : 0,
        add : function(){
            this.result = parseInt(this.number1,10) + parseInt(this.number2,10);
        },
        subtract : function(){
            this.result = parseInt(this.number1,10) - parseInt(this.number2,10);
        },
        multiply : function(){
            this.result = parseInt(this.number1,10) * parseInt(this.number2,10);
        },
        divide : function(){
            this.result = parseInt(this.number1,10) / parseInt(this.number2,10);
        }
    };
    myapp.controller("calculatorController", function($scope){
        $scope.calculator = calculator;
        $scope.operation = '';
        $scope.calculate = function(){
            $scope.calculator[$scope.operation]();
            var calculator = $scope.calculator;
            var transaction = calculator.number1 + " [" + $scope.operation + "] " + calculator.number2 + " = " + calculator.result;
            $scope.transactions.push(transaction);
        };

        $scope.transactions = [

        ];
    });
    </script>
</head>
<body ng-app="myapp">
    <div class="content" ng-controller="calculatorController">
        <div class="field"><label for="">Number 1:</label><input type="text" ng-model="calculator.number1"></div>
        <div class="field"><label for="">Number 2:</label><input type="text" ng-model="calculator.number2"></div>
        <div class="field">
            <label for="">Operation :</label>
            <select ng-model="operation">
                <option value="add">add</option>
                <option value="subtract">subtract</option>
                <option value="multiply">multiply</option>
                <option value="divide">divide</option>
            </select>

        </div>
        <div class="field"><input type="button" value="Calculate" ng-click="calculate()" ng-disabled="!(calculator.number1 && calculator.number2)"></div>
        <div class="field">
                <div id="divResult" ng-bind="calculator.result">[Result]</div>
            </div>
        <div>
            <ol>
                <li ng-repeat="item in transactions" ng-bind="item"></li>
            </ol>

        </div>
    </div>
</body>
</html>
