<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <script src="angular.min.js"></script>
    <script src="moment.js"></script>
    <style>
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
        }
        .stats{
            margin-bottom: 10px;
        }
        .section{
            margin: 10px 0px;
        }
        ol{
            width : 50%;
        }
        li{
            cursor: pointer;
            padding: 10px;
            list-style: none;
            border : 2px solid black;
            background: -webkit-linear-gradient(top, gray 0%, white 100%);
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .title{
            font-size: 18pt;
            font-weight: bold;
        }
        .timeStamp{
            font-size: small;
            font-style: italic;
        }
    </style>
    <script>
        var bugTracker = angular.module("bugTracker",[]);

        bugTracker.factory("Bug", function(){
            function Bug(defaults){
                defaults = defaults || {};
                this.id = defaults.id || 0;
                this.title = defaults.title || '';
                this.createdAt = defaults.createdAt || new Date();
                this.isClosed = defaults.isClosed || false;
            }

            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

       /* bugTracker.factory("bugStorage", function(Bug){
            var lastBugId = parseInt(localStorage.key(localStorage.length-1) || 0, 10);


            function getAllBugs(){
                var result = [];
                for(var i=0; i<localStorage.length; i++){
                    var key = localStorage.key(i);
                    var dataAsString = localStorage.getItem(key);
                    var dataAsObject = angular.fromJson(dataAsString);
                    var bug = new Bug(dataAsObject);
                    result.push(bug);
                }
                return result;
            }

            function saveBug(bugData){
                var bug = bugData;
                if(!bugData.id){
                    bug = new Bug(bugData);
                    bug.id = ++lastBugId
                }
                localStorage.setItem(bug.id, angular.toJson(bug));
                return bug;
            }

            function removeBug(bug){
                localStorage.removeItem(bug.id);
            }

            return {
                getAll : getAllBugs,
                save : saveBug,
                remove : removeBug
            };
        });*/

        bugTracker.service("bugStorage", function(Bug){
            var lastBugId = parseInt(localStorage.key(localStorage.length-1) || 0, 10);


            this.getAll = function getAllBugs(){
                var result = [];
                for(var i=0; i<localStorage.length; i++){
                    var key = localStorage.key(i);
                    var dataAsString = localStorage.getItem(key);
                    var dataAsObject = angular.fromJson(dataAsString);
                    var bug = new Bug(dataAsObject);
                    result.push(bug);
                }
                return result;
            };

            this.save = function saveBug(bugData){
                var bug = bugData;
                if(!bugData.id){
                    bug = new Bug(bugData);
                    bug.id = ++lastBugId
                }
                localStorage.setItem(bug.id, angular.toJson(bug));
                return bug;
            };

            this.remove = function removeBug(bug){
                localStorage.removeItem(bug.id);
            };
        });

        bugTracker.controller("bugsController", function($scope, Bug, bugStorage){

            $scope.newBugTitle = '';

            $scope.bugs = bugStorage.getAll();

            $scope.addNew = function(){
                var newBug = bugStorage.save({title : $scope.newBugTitle, isClosed : false});
                $scope.bugs.push(newBug);
                $scope.newBugTitle = '';
            };

            $scope.toggleStatus = function(bug){
                bug.toggle();
                bugStorage.save(bug);
            };

            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length - 1; i>=0; i--)
                    if ($scope.bugs[i].isClosed){
                        bugStorage.remove($scope.bugs[i]);
                        $scope.bugs.splice(i,1);
                    }
            };


        });

        bugTracker.filter("trimText", function(){
            return function(data, limitLength){
                limitLength = limitLength || 20;
                return data.length> limitLength
                    ? data.substr(0,limitLength) + "..."
                    : data;
            }
        });

        bugTracker.filter("toMoment", function(){
           return function(data){
               return moment(data).fromNow();
           }
        });
    </script>
</head>
<body ng-app = "bugTracker">
    <h1>Bug Tracker</h1>

    <div class="content" ng-controller="bugsController">
        <div class="stats">
            <span>{{(bugs | filter:{isClosed:true}).length}}</span> / <span>{{bugs.length}}</span>
        </div>
        <div class="section">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.title">
            <br>
            <label for="">Bug Length Limit : </label>
            <input type="range" ng-model="bugTitleLimit">
        </div>
        <div class="section">
            <label for="">Sort :</label>
            <select ng-model="sortByField">
                <option value="id">id</option>
                <option value="title">title</option>
                <option value="isClosed">isClosed</option>
            </select>
            <span>Descending ?</span>
            <input type="checkbox" name="" id="" ng-model="descending">
        </div>
        <form action="">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugTitle">
            <input type="button" value="Add New" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
        </form>
        <ol>
            <li ng-repeat="bug in bugs | filter:searchBug | orderBy:sortByField:descending">
                <div>
                    <div class="title"
                        ng-click="toggleStatus(bug)"
                        ng-class="{closed : bug.isClosed}">{{bug.title}}</div>
                    <div class="timeStamp">{{bug.createdAt | toMoment}}</div>
                </div>
            </li>
        </ol>
    </div>
</body>
</html>
