<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <script src="angular.min.js"></script>
    <style>
        .closed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
        }
        .stats{
            margin-bottom: 10px;
        }
    </style>
    <script>
        var bugTracker = angular.module("bugTracker",[]);

        bugTracker.factory("Bug", function(){
            function Bug(defaults){
                defaults = defaults || {};
                this.id = defaults.id || 0;
                this.title = defaults.title || '';
                this.isClosed = defaults.isClosed || false;
            }

            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

       /* bugTracker.factory("bugStorage", function(Bug){
            var lastBugId = parseInt(localStorage.key(localStorage.length-1) || 0, 10);


            function getAllBugs(){
                var result = [];
                for(var i=0; i<localStorage.length; i++){
                    var key = localStorage.key(i);
                    var dataAsString = localStorage.getItem(key);
                    var dataAsObject = angular.fromJson(dataAsString);
                    var bug = new Bug(dataAsObject);
                    result.push(bug);
                }
                return result;
            }

            function saveBug(bugData){
                var bug = bugData;
                if(!bugData.id){
                    bug = new Bug(bugData);
                    bug.id = ++lastBugId
                }
                localStorage.setItem(bug.id, angular.toJson(bug));
                return bug;
            }

            function removeBug(bug){
                localStorage.removeItem(bug.id);
            }

            return {
                getAll : getAllBugs,
                save : saveBug,
                remove : removeBug
            };
        });*/

         bugTracker.service("bugStorage", function(Bug){
            var lastBugId = parseInt(localStorage.key(localStorage.length-1) || 0, 10);


            this.getAll = function getAllBugs(){
                var result = [];
                for(var i=0; i<localStorage.length; i++){
                    var key = localStorage.key(i);
                    var dataAsString = localStorage.getItem(key);
                    var dataAsObject = angular.fromJson(dataAsString);
                    var bug = new Bug(dataAsObject);
                    result.push(bug);
                }
                return result;
            };

            this.save = function saveBug(bugData){
                var bug = bugData;
                if(!bugData.id){
                    bug = new Bug(bugData);
                    bug.id = ++lastBugId
                }
                localStorage.setItem(bug.id, angular.toJson(bug));
                return bug;
            };

            this.remove = function removeBug(bug){
                localStorage.removeItem(bug.id);
            };
        });

        bugTracker.controller("bugsController", function($scope, Bug, bugStorage){

            $scope.newBugTitle = '';

            $scope.bugs = bugStorage.getAll();

            $scope.addNew = function(){
                var newBug = bugStorage.save({title : $scope.newBugTitle, isClosed : false});
                $scope.bugs.push(newBug);
                $scope.newBugTitle = '';
            };

            $scope.toggleStatus = function(bug){
                bug.toggle();
                bugStorage.save(bug);
            };

            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length - 1; i>=0; i--)
                    if ($scope.bugs[i].isClosed){
                        bugStorage.remove($scope.bugs[i]);
                        $scope.bugs.splice(i,1);
                    }
            };

            $scope.getClosedCount = function(){
                return $scope.bugs.filter(function(bug){ return bug.isClosed ;}).length;
            }
        });
    </script>
</head>
<body ng-app = "bugTracker">
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
        <div class="stats">
            <span>{{getClosedCount()}}</span> / <span>{{bugs.length}}</span>
        </div>
        <form action="">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugTitle">
            <input type="button" value="Add New" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
        </form>
        <ol>
            <li ng-repeat="bug in bugs" ng-click="toggleStatus(bug)" ng-class="{closed : bug.isClosed}">{{bug}}</li>
        </ol>
    </div>
</body>
</html>
